PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change_me
DB_NAME=ecometrix
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d

# Automatsko prikupljanje podataka
ENABLE_AUTO_COLLECTION=true
# Cron schedule (*/5 * * * * = svakih 5 minuta)
DATA_COLLECTION_SCHEDULE=*/5 * * * *
